html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  font-size: 4rem;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* The buttons */
.sbtn {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 500px;
  -webkit-transition: all 33ms cubic-bezier(.3,0,0,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 33ms cubic-bezier(.3,0,0,1);
  will-change: transform;
  white-space: nowrap;
  padding: 8px 34px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.sbtn:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.sbtn:active {
 outline: none;
 -moz-outline: none;
}

.sbtn-white {
  background-color: #fff;
  color: #2e77d0;
}

.sbtn-yellow {
  background-color: #fff85b;
  color: #000;
}

.sbtn-green {
  background-color: #1ed760;
  color: #fff;
}

.sbtn-red {
  background-color: #ff3424;
  color: #fff;
}

.selected {
  background-color: #7E858C;
}

.content {
  width: 100%;
  max-width: 650px;
  margin: auto;
}

.content-start {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}


/* The colors */
.cyan {
  color: #cdf658;
}

.olive {
  color: #48917d;
}

.white {
  color: #ffffff;
}

.magenta {
  color: #f22fa5;
}

.bg-black {
  background-color: #000;
}

/* The circular Countdown */
#countdown {
  position: relative;
  margin: auto;
  left: 40%;
  height: 80px;
  width: 80px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  font-size: 2.5em;
  line-height: 80px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 226px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 5px;
  stroke: white;
  fill: none;
  animation: countdown 20s linear forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 226px;
  }
}

/* The ribbons */
.corner-ribbon{
  width: 350px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  padding: 10px 10px;
  text-align: center;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon b{
  text-transform: uppercase;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-right{
  top: 40px;
  right: -100px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.magenta{background: #f22fa5;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}
