.text-muted {
  font-size: 60%;
}

.joined-player{
  margin-left: 6px;
}

.gear svg {
  width: 18px;
  height: 18px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.gear {
  text-align: center;
  margin-right: 6px;
}

.config {
  background-color: #343a40;
  color: #fff;
  padding: 20px 200px 20px 200px;
  margin-bottom: 1rem;
}

tr.selected {
  background-color: #7E858C;
  --bs-table-bg: transparent;
}
