.text-muted {
  font-size: 60%;
}

.joined-player{
  margin-left: 6px;
}

.gear svg {
  width: 18px;
  height: 18px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.gear {
  text-align: center;
  margin-right: 6px;
}

